* {
  box-sizing: border-box;
  text-align: center;
}

h1{
	font-size: 175%;
}

h2{
	font-size:125%;
	width: 100px;
	float: right;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid black;
}

#chicken{
	background-color: red;
}

#beef{
	background-color: magenta;
}

#fish{
	background-color: cyan;
}

p{
	margin-top: 35px;
}

.row {
  width: 100%;
}

.col-lg-4{
	background-color: #00ff00;
	float: left;
	border: 1px solid black;
	padding: 5px;
	
	margin-top: 10px;
	margin-right: 1%;
	width: 90%;
	

}

@media(min-width: 992px){
	.col-lg-4{
		width: 32%;
		
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.col-md-6{
		width: 49%;
	}
	
	.col-md-12{
		width: 99%;
	}
}

@media(max-width: 767px){
	.col-sm-12{
		width: 100%;
	}
	
}
